.score-hud {
    width: 100%;
}
.score-hud .row2 {
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 100%;
}
.score-hud .score-header {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    display: block;
    pointer-events: painted;
}
.score-hud .header-container {
    width: 40%;
    height: 80%;
    position: absolute;
    display: block;
}
.score-hud .header-container .icon-container {
    height: 100%;
    width: 16%;
    display: inline-block;
    pointer-events: none;
    position: relative;
    vertical-align: middle;
}
.score-hud .header-container .icon {
    height: 80%;
    width: auto;
    right: 10%;
    max-width: 100%;
    display: inline-block;
    pointer-events: none;
}
.score-hud .header-container .value-container {
    color: rgba(204, 204, 204, 0.9);
    width: 100%;
    text-align: left;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}
.score-hud .plugin-container {
    width: 100%;
    height: 40vmin;
    background-color: rgba(51, 51, 51, 0.9);
    box-sizing: border-box;
    border: solid 0.4vmin;
    border-Color: rgba(25, 163, 255, 0.9);
    border-bottom: none;
    pointer-events: all;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score-hud .bar-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    border: solid 0.4vmin;
    border-Color: rgba(204, 204, 204, 0.9);
    box-sizing: border-box;
    overflow: hidden;
}
.score-hud .score-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: rgba(204, 204, 204, 0.3);
}
.score-hud .header-container .bar-text {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}