.transfer-leg-face-selector {
    position: absolute;
    z-index: 5;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: default;
}
.transfer-leg-face-selector .container {
    pointer-events: none;
    display: inline-block;
    padding: 2%;
    box-sizing: border-box;
}
.transfer-leg-face-selector .context-wrapper {
    display: block;
    position: relative;
    height: 85%;
    width: 100%;
}
.transfer-leg-face-selector .question-wrapper {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
.transfer-leg-face-selector .info-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.transfer-leg-face-selector .row1 {
    display: block;
    width: 100%;
    height: 15%;
    position: relative;
}
.transfer-leg-face-selector .row1 .col1 {
    width: 25%;
    height: 100%;
    display: block;
    position: relative;
}
.transfer-leg-face-selector .title {
    pointer-events: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #19A3FF;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}
.transfer-leg-face-selector .row2 {
    display: block;
    width: 100%;
    height: 15%;
    position: relative;
}
.transfer-leg-face-selector .row2 .col1 {
    display: block;
    width: 30%;
    height: 100%;
    position: relative;
}
.transfer-leg-face-selector select {
    background-color: #19A3FF;
    color: #333333;
    height: 80%;
    width: 80%;
    cursor: pointer;
    pointer-events: all;
}
.transfer-leg-face-selector .row3 {
    display: block;
    width: 100%;
    height: 85%;
    position: relative;
}
.transfer-leg-face-selector .row3 .col1 {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.transfer-leg-face-selector .map-container {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
}
.transfer-leg-face-selector .button-col {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
}
.transfer-leg-face-selector .button-col .button {
    pointer-events: all;
    width: auto;
    max-width: 100%;
    height: 50%;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.transfer-leg-face-selector .button-col .button:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}