.score-table {
    border: 1px solid #0099CC;
    width: 90%;
    text-align: center;
}
/*div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.5vmin;
    padding: 0.1%;
    background-color: #333333;
    color: #0099CC;
    pointer-events: none;
}
*/