<!DOCTYPE html>
<html>

<head>
    <title>space hopper | dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../css/registertab.css">
    <link rel="stylesheet" type="text/css" href="../css/scoreboardtab.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/d3.js"></script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
    <script type="text/javascript" src="../js/table.js"></script>
</head>

<body>
    <img class="title-image" src="../img/title.svg">
    <img class="esa-logo" src="../img/esalogo.svg">

    <div class="statistics">
        <div>Number of registered users: <span id="totalusers"></span> 
        </div>
        <div>Number of games played: <span id="totalgames"></span> 
        </div>
    </div>

    <div class="dashboard container center-horizontally center-vertically">
        <div class="tab-links">
            <div class="tab-links-wrapper">
                <div class="tab-link active">
                    <a id="hometabbutton" href="#hometab">home</a>
                </div>
                <div class="tab-link">
                    <a id="tutorialtabbutton" href="#tutorialtab">tutorial</a>
                </div>
                <div class="tab-link">
                    <a id="playtabbutton" href="#playtab">play</a>
                </div>
                <div class="tab-link">
                    <a id="scoreboardtabbutton" href="#scoreboardtab">scoreboard</a>
                </div>
                <% if(user) { %>
                    <div class="tab-link">
                        <a id="profiletabbutton" href="#profiletab">profile</a>
                    </div>
                    <% } else { %>
                        <div class="tab-link">
                            <a id="signintabbutton" href="#signintab">sign in</a>
                        </div>
                        <% } %>
                            <div class="tab-link">
                                <a id="creditstabbutton" href="#creditstab">credits</a>
                            </div>
            </div>
        </div>
        <div class="tab-contents">
            <div id="hometab" class="tab">
            </div>
            <div id="tutorialtab" class="tab">
            </div>
            <div id="playtab" class="tab">
            </div>
            <div id="scoreboardtab" class="tab">
            </div>
            <div id="signintab" class="tab">
            </div>
            <div id="profiletab" class="tab">
            </div>
            <div id="creditstab" class="tab">
            </div>
        </div>
    </div>

    <script>
        $('#totalusers').load('/admin/users/total', function (responseText, textStatus, XmlHttpRequest) {});
        $('#totalgames').load('/admin/games/total', function (responseText, textStatus, XmlHttpRequest) {});
    </script>


</body>

</html>
